<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>About Choose</title>
</head>
<body>
    <section class="about">
        <div class="image">
           <img src="images/about1.jpeg" alt="">
        </div>
        <div class="content">
           <h3>why choose us?</h3>
           <p>The journey of a thousand miles begins with a single step. And so has the journey of Vaidya Acupressure.</p>
           <p>He has been for long working to spread the knowledge of Acupressure, Magnet Therapy, Acupuncture, Naruropathy and much more. In the process of spreading the knowledge, he has been associated with multiple institutes within and outside Delhi.</p>
           <div class="icons-container">
              <div class="icons">
                 <i class="fas fa-map"></i>
                 <span>easily reachable</span>
              </div>
              <div class="icons">
                 <i class="fas fa-hand-holding-usd"></i>
                 <span>affordable price</span>
              </div>
              <div class="icons">
                 <i class="fas fa-headset"></i>
                 <span>24/7 guide service</span>
              </div>
           </div>
        </div>
     </section>
</body>
</html>