<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Header</title>
</head>
<body>
    <section class="header">
        <a href="/" class="logo">Vaidya Acupressure</a>
        <nav class="navbar">
           <a href="/">Home</a>
           <a href="/about">About Us</a>
           <a href="/therapy">Therapies</a>
           <a href="/photo">Photo Gallery</a>
           <a href="/video">Video Gallery</a>
           <a href="/contact">Contact</a>
        </nav>
        <div id="menu-btn" class="fas fa-bars"></div>
    </section>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script src="js/script.js" ></script>
</body>
</html>