<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Home Therapy</title>
</head>
<body>
    <section class="home-packages">
        <h1 class="heading-title"> our Therapies </h1>
        <div class="box-container">
           <div class="box">
              <div class="image">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/woman-removing-acupuncture-cups-from-womans-back-royalty-free-image-855134932-1539288094.jpg?crop=0.982xw:0.736xh;0.0179xw,0.142xh&resize=1200:*" alt="">
              </div>
              <div class="content">
                <h3>Cup Therapy</h3>
                <p>Cupping therapy is an ancient form of alternative medicine in which a therapist puts special cups on your skin for a few minutes to create suction. People get it for many purposes, including to help with pain, inflammation, blood flow, relaxation and well-being, and as a type of deep-tissue massage</p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>
           <div class="box">
              <div class="image">
                <img src="https://admin.lidsen.com/uploads/specialImgs/2019-11-27/5dde375690359.jpg" alt="">
              </div>
              <div class="content">
                <h3>Auricular Therapy</h3>
                <p>Auriculotherapy is a form of alternative medicine based on the idea that the ear is a micro system, which reflects the entire body, represented on the auricle, the outer portion of the ear. Conditions affecting the physical, mental or emotional health of the patient are assumed to be treatable by stimulation of the surface of the ear exclusively. </p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>   
           <div class="box">
              <div class="image">
                <img src="https://www.jagranimages.com/images/25_05_2019-sujok_19253515.jpg" alt="">
              </div>
              <div class="content">
                 <h3>Sujok Therapy</h3>
                 <p>In Sujok therapy, palm and foot represent all the organs/meridians in the body. Su means hand while jok means palm. Sujok can be done with other therapies also and it produces no side effects. Developed by Professor Park Jae Woo, this therapy is 100% safe, simple and easy to perform even by the patients. </p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>
           <div class="box">
              <div class="image">
                <img src="https://www.wearegurgaon.com/wp-content/uploads/2018/04/best-yoga-studios-in-gurgaon.jpg" alt="">
              </div>
              <div class="content">
                 <h3>Yoga Classes</h3>
                 <p>Yoga is first mentioned in the Rigveda, and is referred to in a number of the Upanishads. The first known appearance of the word "yoga" with the same meaning as the modern term is in the Katha Upanishad, which was probably composed between the fifth and third centuries BCE. </p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>   
           <div class="box">
              <div class="image">
                <img src="https://ameridisability.com/wp-content/uploads/2021/06/5d485dab80adb77320da4513_Photo20courtesy20of20YogART202-color20therapy20min.png" alt="">
              </div>
              <div class="content">
                <h3>Color Therapy</h3>
                <p>Color therapy, also known as chromotherapy, is a form of therapy that uses color and light to treat certain mental and physical health conditions. We can trace this form of therapy back to the ancient Egyptians. They made use of sun-filled rooms with colored glasses for therapeutic purposes.</p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>
           <div class="box">
              <div class="image">
                <img src="https://dwvyw8kf1avne.cloudfront.net/s3fs-public/inline-images/iStock-1186228259.jpg" alt="">
              </div>
              <div class="content">
                <h3>Acupressure Therapy</h3>
                <p>Acupressure practitioners use their fingers, palms, elbows or feet, or special devices to apply pressure to acupoints on the body's meridians. Sometimes, acupressure also involves stretching or acupressure massage, as well as other methods.</p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>   
           <div class="box">
              <div class="image">
                <img src="https://5.imimg.com/data5/XB/MJ/GLADMIN-24081721/panchakarma-ayurveda-treatment-500x500.jpg" alt="">
              </div>
              <div class="content">
                <h3>Ayurvedic Panchkarma</h3>
                 <p>Panchakarma literally means "Five Actions" which is well-suited given the fact that this technique relies upon five distinctive basic activities that control the body namely Vomiting, Purgation, Niruham, Anuvaasan, and Nasyam. In other words, Panchakarma healing technique is a pillar on which majority of Ayurvedic techniques stand.</p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>
           <div class="box">
              <div class="image">
                <img src="http://www.indiareikifoundation.com/wp-content/uploads/2020/01/crystal-healing-jpg-495x400.jpg" alt="">
              </div>
              <div class="content">
                <h3>Reiki Healing</h3>
                <p>Reiki is a form of complementary therapy relating to energy healing. Proponents say that it works with the energy fields around the body and involves the transfer of universal energy from the practitioner’s palms to the client.</p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>
           <div class="box">
              <div class="image">
                <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/323580_1100-800x825.jpg" alt="">
              </div>
              <div class="content">
                <h3>Acupuncture</h3>
                 <p>Acupuncture involves the insertion of very thin needles through your skin at strategic points on your body. A key component of traditional Chinese medicine, acupuncture is most commonly used to treat pain. Increasingly, it is being used for overall wellness, including stress management.</p>
                 <a href="tel:+919871429687" class="btn">book now</a>
              </div>
           </div>
        </div>
     </section>
</body>
</html>