<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Home Review</title>
</head>
<body>
    <section class="reviews">
        <h1 class="heading-title"> clients reviews </h1>    
        <div class="swiper reviews-slider">   
           <div class="swiper-wrapper">    
              <div class="swiper-slide slide">
                 <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 </div>
                 <p> I am very happy by doing this treatment, it has given me and my family a lot of comfort about this therapy and now we are still healthy and good, we hope that you also make everyone and your family healthy keep and be healthy yourself this is really very good therapy it will not give you any side effect ...
                    Thanku so much sir</h3>
                 <span>Vijay kumar</span>
                 <img src="images/papa.jpeg" alt="">
              </div>
     
              <div class="swiper-slide slide">
                 <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 </div>
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae cum quibusdam odio dignissimos nemo?</p>
                 <h3>john deo</h3>
                 <span>traveler</span>
                 <img src="images/pic-4.png" alt="">
              </div>
     
              <div class="swiper-slide slide">
                 <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 </div>
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio possimus?</p>
                 <h3>john deo</h3>
                 <span>traveler</span>
                 <img src="images/pic-5.png" alt="">
              </div>
     
              <div class="swiper-slide slide">
                 <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 </div>
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus facilis laudantium magnam saepe magni ullam possimus laborum voluptas, veniam ipsum officiis quae doloribus minima ut quis. Molestiae qui distinctio possimus?</p>
                 <h3>john deo</h3>
                 <span>traveler</span>
                 <img src="images/pic-6.png" alt="">
              </div>
     
           </div>
     
        </div>
        <div class="swiper reviews-slider">
     
           <div class="swiper-wrapper">
     
              <div class="swiper-slide slide">
                 <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                 </div>
                 <p>
                    Amazing experience. Vaidya acupressure is best. My whole family take their services every month to keep ourselves fit.
                    Thanks Vaidya acupressure.</h3>
                 <span>Manoj Sharma</span>
                 <img src="images/manoj.jpeg" alt="">
              </div>
     
           </div>
     
        </div>
     
     </section>
</body>
</html>