<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/sticky.css">
    <title>Home Sticky</title>
</head>
<body>
    <div class="icon-bar">
        <a href="https://www.facebook.com/profile.php?id=100001063145745" class="facebook"><i class="fab fa-facebook"></i></a> 
        <a href="https://twitter.com/Vaidyaburari?t=n_M-yEpTsME3LriQ5CdKEw&s=09" class="twitter"><i class="fab fa-twitter"></i></a> 
        <a href="mailto:vaidyaacuppressureburari@gmail.com" class="google"><i class="fab fa-google"></i></a> 
        <a href="http://www.instagram.com/sharma_9871429687" class="linkedin"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com/channel/UCNi2VkAMG3kXkzs93EEMqSw" class="youtube"><i class="fab fa-youtube"></i></a> 
    </div>
</body>
</html>