<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/slider.css">
    <title>Photo Slider</title>
</head>
<body>
        <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 25</div>
          <img src="personal/2.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">2 / 25</div>
          <img src="personal/1.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">3 / 25</div>
          <img src="personal/3.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">4 / 25</div>
          <img src="personal/4.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">5 / 25</div>
          <img src="personal/5.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">6 / 25</div>
          <img src="personal/6.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">7 / 25</div>
          <img src="personal/7.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">8 / 25</div>
          <img src="personal/8.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">9 / 25</div>
          <img src="personal/9.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">10 / 25</div>
          <img src="personal/10.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">11 / 25</div>
          <img src="personal/11.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">12 / 25</div>
          <img src="personal/12.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">13 / 25</div>
          <img src="personal/13.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">14 / 25</div>
          <img src="personal/14.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">15 / 25</div>
          <img src="personal/15.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">16 / 25</div>
          <img src="personal/16.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">17 / 25</div>
          <img src="personal/17.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">18 / 25</div>
          <img src="personal/18.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">19 / 25</div>
          <img src="personal/19.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">20 / 25</div>
          <img src="personal/20.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">21 / 25</div>
          <img src="personal/21.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">22 / 25</div>
          <img src="personal/22.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">23 / 25</div>
          <img src="personal/23.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">24 / 25</div>
          <img src="personal/24.jpeg" style="width:100%">
          <div class="text">vaidya gallery</div>
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
        </div>
        <br>  
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
          <span class="dot" onclick="currentSlide(4)"></span> 
          <span class="dot" onclick="currentSlide(5)"></span> 
          <span class="dot" onclick="currentSlide(6)"></span> 
          <span class="dot" onclick="currentSlide(7)"></span> 
          <span class="dot" onclick="currentSlide(8)"></span> 
          <span class="dot" onclick="currentSlide(9)"></span> 
          <span class="dot" onclick="currentSlide(10)"></span> 
          <span class="dot" onclick="currentSlide(11)"></span> 
          <span class="dot" onclick="currentSlide(12)"></span> 
          <span class="dot" onclick="currentSlide(13)"></span> 
          <span class="dot" onclick="currentSlide(14)"></span> 
          <span class="dot" onclick="currentSlide(15)"></span> 
          <span class="dot" onclick="currentSlide(16)"></span> 
          <span class="dot" onclick="currentSlide(17)"></span> 
          <span class="dot" onclick="currentSlide(18)"></span> 
          <span class="dot" onclick="currentSlide(19)"></span> 
          <span class="dot" onclick="currentSlide(20)"></span> 
          <span class="dot" onclick="currentSlide(21)"></span> 
          <span class="dot" onclick="currentSlide(22)"></span> 
          <span class="dot" onclick="currentSlide(23)"></span> 
          <span class="dot" onclick="currentSlide(24)"></span> 
        </div>
        <script src="js/slider.js" ></script>
</body>
</html>